/*body{
    background-color: #000000;
}*/
h1{
    color: red;
    text-align: center;
}

p{
    font-family: Verdana;
    font-size: 20px;
}

th,td{
    border-bottom: 3px dashed #d0d0d0;
}

#area-mensagens
{
    border: 1px solid #00ff00;
    padding: 5px 5px 5px 5px;
}

.destaque
{
    text-transform: uppercase;
    font-size: 30px;
    color: #00ff00;
}